<button
  type="button"
  class="wishlist-button{% if wishlist_items contains product.id %} wishlist-button--active{% endif %}"
  data-wishlist-button
  data-product-id="{{ product.id }}"
  aria-label="{% if wishlist_items contains product.id %}Remove from wishlist{% else %}Add to wishlist{% endif %}"
  title="{% if wishlist_items contains product.id %}Remove from wishlist{% else %}Add to wishlist{% endif %}"
>
  <svg
    class="wishlist-button__icon wishlist-button__icon--default"
    width="14"
    height="13"
    viewBox="0 0 14 13"
    fill="#ed0707"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M11.7441 2.26758C11.4889 2.01237 11.1973 1.82096 10.8691 1.69336C10.5501 1.56576 10.222 1.50195 9.88477 1.50195C9.54753 1.50195 9.2194 1.56576 8.90039 1.69336C8.58138 1.82096 8.28971 2.01237 8.02539 2.26758L7.41016 2.88281C7.30078 3.0013 7.16406 3.06055 7 3.06055C6.83594 3.06055 6.69922 3.0013 6.58984 2.88281L5.97461 2.26758C5.71029 2.01237 5.41862 1.82096 5.09961 1.69336C4.7806 1.56576 4.45247 1.50195 4.11523 1.50195C3.77799 1.50195 3.44531 1.56576 3.11719 1.69336C2.79818 1.82096 2.51107 2.01237 2.25586 2.26758C2.00065 2.52279 1.80924 2.81445 1.68164 3.14258C1.55404 3.46159 1.49023 3.78971 1.49023 4.12695C1.49023 4.46419 1.55404 4.79688 1.68164 5.125C1.80924 5.44401 2.00065 5.73112 2.25586 5.98633L7 10.7305L11.7441 5.98633C11.9993 5.73112 12.1908 5.44401 12.3184 5.125C12.446 4.79688 12.5098 4.46419 12.5098 4.12695C12.5098 3.78971 12.446 3.46159 12.3184 3.14258C12.1908 2.81445 11.9993 2.52279 11.7441 2.26758ZM12.5645 1.44727C12.9382 1.82096 13.2161 2.24023 13.3984 2.70508C13.5898 3.16992 13.6855 3.64388 13.6855 4.12695C13.6855 4.61003 13.5898 5.08854 13.3984 5.5625C13.2161 6.02734 12.9382 6.44206 12.5645 6.80664L7.41016 11.9609C7.30078 12.0794 7.16406 12.1387 7 12.1387C6.83594 12.1387 6.69922 12.0794 6.58984 11.9609L1.43555 6.80664C1.06185 6.44206 0.779297 6.02734 0.587891 5.5625C0.405599 5.08854 0.314453 4.61003 0.314453 4.12695C0.314453 3.64388 0.405599 3.16992 0.587891 2.70508C0.779297 2.23112 1.06185 1.81185 1.43555 1.44727C1.80013 1.07357 2.21484 0.795573 2.67969 0.613281C3.15365 0.43099 3.63216 0.339844 4.11523 0.339844C4.59831 0.339844 5.07227 0.43099 5.53711 0.613281C6.00195 0.795573 6.42122 1.07357 6.79492 1.44727L7 1.65234L7.20508 1.44727C7.57878 1.07357 7.99805 0.795573 8.46289 0.613281C8.92773 0.43099 9.40169 0.339844 9.88477 0.339844C10.3678 0.339844 10.8418 0.43099 11.3066 0.613281C11.7806 0.795573 12.1999 1.07357 12.5645 1.44727Z" fill="#111111"/>
  </svg>
  <svg
    class="wishlist-button__icon wishlist-button__icon--active"
    width="14"
    height="13"
    viewBox="0 0 14 13"
    fill="#ed0707"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M11.7441 2.26758C11.4889 2.01237 11.1973 1.82096 10.8691 1.69336C10.5501 1.56576 10.222 1.50195 9.88477 1.50195C9.54753 1.50195 9.2194 1.56576 8.90039 1.69336C8.58138 1.82096 8.28971 2.01237 8.02539 2.26758L7.41016 2.88281C7.30078 3.0013 7.16406 3.06055 7 3.06055C6.83594 3.06055 6.69922 3.0013 6.58984 2.88281L5.97461 2.26758C5.71029 2.01237 5.41862 1.82096 5.09961 1.69336C4.7806 1.56576 4.45247 1.50195 4.11523 1.50195C3.77799 1.50195 3.44531 1.56576 3.11719 1.69336C2.79818 1.82096 2.51107 2.01237 2.25586 2.26758C2.00065 2.52279 1.80924 2.81445 1.68164 3.14258C1.55404 3.46159 1.49023 3.78971 1.49023 4.12695C1.49023 4.46419 1.55404 4.79688 1.68164 5.125C1.80924 5.44401 2.00065 5.73112 2.25586 5.98633L7 10.7305L11.7441 5.98633C11.9993 5.73112 12.1908 5.44401 12.3184 5.125C12.446 4.79688 12.5098 4.46419 12.5098 4.12695C12.5098 3.78971 12.446 3.46159 12.3184 3.14258C12.1908 2.81445 11.9993 2.52279 11.7441 2.26758ZM12.5645 1.44727C12.9382 1.82096 13.2161 2.24023 13.3984 2.70508C13.5898 3.16992 13.6855 3.64388 13.6855 4.12695C13.6855 4.61003 13.5898 5.08854 13.3984 5.5625C13.2161 6.02734 12.9382 6.44206 12.5645 6.80664L7.41016 11.9609C7.30078 12.0794 7.16406 12.1387 7 12.1387C6.83594 12.1387 6.69922 12.0794 6.58984 11.9609L1.43555 6.80664C1.06185 6.44206 0.779297 6.02734 0.587891 5.5625C0.405599 5.08854 0.314453 4.61003 0.314453 4.12695C0.314453 3.64388 0.405599 3.16992 0.587891 2.70508C0.779297 2.23112 1.06185 1.81185 1.43555 1.44727C1.80013 1.07357 2.21484 0.795573 2.67969 0.613281C3.15365 0.43099 3.63216 0.339844 4.11523 0.339844C4.59831 0.339844 5.07227 0.43099 5.53711 0.613281C6.00195 0.795573 6.42122 1.07357 6.79492 1.44727L7 1.65234L7.20508 1.44727C7.57878 1.07357 7.99805 0.795573 8.46289 0.613281C8.92773 0.43099 9.40169 0.339844 9.88477 0.339844C10.3678 0.339844 10.8418 0.43099 11.3066 0.613281C11.7806 0.795573 12.1999 1.07357 12.5645 1.44727Z" fill="#ed0707"/>
  </svg>
</button>

{% style %}
  .wishlist-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    transition: all 0.2s ease;
    position: relative;
  }

  .wishlist-button__icon--active {
    display: none;
  }

  .wishlist-button--active .wishlist-button__icon--default {
    display: none;
  }

  .wishlist-button--active .wishlist-button__icon--active {
    display: block;
  }
{% endstyle %}
