<button
  type="button"
  class="wishlist-button{% if wishlist_items contains product.id %} wishlist-button--active{% endif %}"
  data-wishlist-button
  data-product-id="{{ product.id }}"
  aria-label="{% if wishlist_items contains product.id %}Remove from wishlist{% else %}Add to wishlist{% endif %}"
  title="{% if wishlist_items contains product.id %}Remove from wishlist{% else %}Add to wishlist{% endif %}"
>
  <svg
    class="wishlist-button__icon wishlist-button__icon--default"
    width="20"
    height="17"
    viewBox="0 0 20 17"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M18.3887 1.55421C17.3506 0.55606 15.9769 0 14.5491 0C13.1212 0 11.7475 0.55606 10.7094 1.55421L10 2.24289L9.29063 1.55421C8.25514 0.549292 6.87729 -0.00765789 5.44682 0.000470637C4.01902 -0.00635871 2.64421 0.550561 1.61125 1.55421C1.10276 2.0382 0.697356 2.6234 0.420188 3.27353C0.14302 3.92365 0 4.62483 0 5.33357C0 6.0423 0.14302 6.74348 0.420188 7.3936C0.697356 8.04373 1.10276 8.62894 1.61125 9.11292L9.4391 16.7724C9.51585 16.8408 9.60199 16.8974 9.6948 16.9404C9.89078 17.0199 10.1092 17.0199 10.3052 16.9404C10.398 16.8974 10.4841 16.8408 10.5609 16.7724L18.3887 9.11292C18.8972 8.62894 19.3026 8.04373 19.5798 7.3936C19.857 6.74348 20 6.0423 20 5.33357C20 4.62483 19.857 3.92365 19.5798 3.27353C19.3026 2.6234 18.8972 2.0382 18.3887 1.55421ZM18.3887 5.31677C18.3911 5.81361 18.2943 6.30576 18.1043 6.7634C17.9143 7.22103 17.6351 7.63463 17.2834 7.97912L10 15.1179L2.7248 7.97912C2.36775 7.63749 2.08319 7.22502 1.88868 6.76713C1.69417 6.30925 1.59382 5.81565 1.59382 5.31677C1.59382 4.81789 1.69417 4.32429 1.88868 3.86641C2.08319 3.40852 2.36775 2.99605 2.7248 2.65442C3.45741 1.94171 4.43359 1.54714 5.44682 1.55421C6.46509 1.5463 7.44671 1.94068 8.18532 2.65442L9.4391 3.88901C9.51585 3.95737 9.60199 4.01396 9.6948 4.05698C9.89078 4.13645 10.1092 4.13645 10.3052 4.05698C10.398 4.01396 10.4841 3.95737 10.5609 3.88901L11.8229 2.65442C12.5555 1.94171 13.5317 1.54714 14.5449 1.55421C15.5632 1.5463 16.5448 1.94068 17.2834 2.65442C17.6381 2.99747 17.9204 3.41042 18.1133 3.86813C18.3061 4.32583 18.4055 4.81872 18.4052 5.31677H18.3887Z" fill="currentColor"/>
  </svg>
  <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.7441 2.26758C11.4889 2.01237 11.1973 1.82096 10.8691 1.69336C10.5501 1.56576 10.222 1.50195 9.88477 1.50195C9.54753 1.50195 9.2194 1.56576 8.90039 1.69336C8.58138 1.82096 8.28971 2.01237 8.02539 2.26758L7.41016 2.88281C7.30078 3.0013 7.16406 3.06055 7 3.06055C6.83594 3.06055 6.69922 3.0013 6.58984 2.88281L5.97461 2.26758C5.71029 2.01237 5.41862 1.82096 5.09961 1.69336C4.7806 1.56576 4.45247 1.50195 4.11523 1.50195C3.77799 1.50195 3.44531 1.56576 3.11719 1.69336C2.79818 1.82096 2.51107 2.01237 2.25586 2.26758C2.00065 2.52279 1.80924 2.81445 1.68164 3.14258C1.55404 3.46159 1.49023 3.78971 1.49023 4.12695C1.49023 4.46419 1.55404 4.79688 1.68164 5.125C1.80924 5.44401 2.00065 5.73112 2.25586 5.98633L7 10.7305L11.7441 5.98633C11.9993 5.73112 12.1908 5.44401 12.3184 5.125C12.446 4.79688 12.5098 4.46419 12.5098 4.12695C12.5098 3.78971 12.446 3.46159 12.3184 3.14258C12.1908 2.81445 11.9993 2.52279 11.7441 2.26758ZM12.5645 1.44727C12.9382 1.82096 13.2161 2.24023 13.3984 2.70508C13.5898 3.16992 13.6855 3.64388 13.6855 4.12695C13.6855 4.61003 13.5898 5.08854 13.3984 5.5625C13.2161 6.02734 12.9382 6.44206 12.5645 6.80664L7.41016 11.9609C7.30078 12.0794 7.16406 12.1387 7 12.1387C6.83594 12.1387 6.69922 12.0794 6.58984 11.9609L1.43555 6.80664C1.06185 6.44206 0.779297 6.02734 0.587891 5.5625C0.405599 5.08854 0.314453 4.61003 0.314453 4.12695C0.314453 3.64388 0.405599 3.16992 0.587891 2.70508C0.779297 2.23112 1.06185 1.81185 1.43555 1.44727C1.80013 1.07357 2.21484 0.795573 2.67969 0.613281C3.15365 0.43099 3.63216 0.339844 4.11523 0.339844C4.59831 0.339844 5.07227 0.43099 5.53711 0.613281C6.00195 0.795573 6.42122 1.07357 6.79492 1.44727L7 1.65234L7.20508 1.44727C7.57878 1.07357 7.99805 0.795573 8.46289 0.613281C8.92773 0.43099 9.40169 0.339844 9.88477 0.339844C10.3678 0.339844 10.8418 0.43099 11.3066 0.613281C11.7806 0.795573 12.1999 1.07357 12.5645 1.44727Z" fill="#ed0707"/>
  </svg>
</button>

{% style %}
  .wishlist-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    transition: all 0.2s ease;
    position: relative;
  }

  .wishlist-button__icon {
    width: 20px;
    height: 17px;
    transition: all 0.2s ease;
  }

  .wishlist-button__icon--active {
    display: none;
  }

  .wishlist-button--active .wishlist-button__icon--default {
    display: none;
  }

  .wishlist-button--active .wishlist-button__icon--active {
    display: block;
  }
{% endstyle %}
