/* header */
.header,
.menu-items-list {
    justify-content: var(--justify-between);
    gap: 30px;
}

.header {
    padding: 25px 30px;
    min-height: 70px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header,
.menu-items-list,
.header-logo a,
.header-menu-item-wrapper,
.header-icons,
.icon-badge-container a,
.icon-badge,
.product-rating,
.badge-soldout,
.badge-discount,
.badge-preorder,
.slide,
.slide-text,
.slider-prev,
.slider-next,
.slide-button,
.new-arrivals-slider,
.product-icon a,
.product-icon,
.list-social,
.footer-follow,
.list-social__item,
.follow-icon,
.follow-text p,
.footer-newsletter-form,
.footer-underbar,
.footer-underbar__left,
.footer-underbar__center,
.footer-underbar__right,
.footer-select-wrap {
    display: flex;
    align-items: var(--center);
}

.header-logo a {
    justify-content: var(--center);
}

.header-menu-item-wrapper {
    width: var(--width-100);
    justify-content: var(--justify-between);
    gap: 5px;
}

.header-menu-item {
    padding-right: 0 !important;
}

.header-menu-item a {
    font-weight: var(--font-weight-500);
    line-height: 1;
    letter-spacing: 0;
    display: inline-flex;
    align-items: var(--align-center);
    padding: 0;
    margin: 0;
}

.submenu-icon {
    vertical-align: middle;
    transition: transform 0.3s ease;
}

.header-menu-item.active .submenu-icon {
    transform: rotate(180deg);
}

.header-menu-sublist {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    background: var(--third-color);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    opacity: 0;
    visibility: visible;
    pointer-events: none;
    z-index: 1001;
    transition: opacity 0.3s, visibility 0.3s;
    padding: 10px 0;
    margin: 0;
    border-radius: 4px;
    display: block;
}

.header-menu-item:hover>.header-menu-sublist,
.header-menu-item.active>.header-menu-sublist {
    opacity: 1;
    visibility: visible !important;
    pointer-events: auto;
}

.header-menu-item:focus-within>.header-menu-sublist {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header-menu-sublist li {
    padding: 0 15px;
}

.header-menu-sublist a {
    font-size: var(--font-size-12);
    color: var(--primary-color);
    transition: color 0.3s ease;
}

.header-menu-sublist a:hover {
    color: var(--primary-color);
}

.header-icons {
    gap: 20px;
}

.header-icons a:not(:last-child) {
    margin-right: 20px;
}

.mobile-menu-icons {
    display: none;
}

.header-icon-mobile-hide {
    display: block;
}

/* Mobile */
.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.overlay.active {
    display: block;
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
}

.close-btn {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

/* Badge styles for icon */
.icon-badge-container {
    position: relative;
}

.icon-badge-container a {
    justify-content: var(--center);
}

.icon-badge {
    position: absolute;
    top: -8px;
    right: -10px;
    background: var(--badge-bg-color);
    color: var(--third-color);
    font-size: var(--font-size-10);
    font-weight: var(--font-weight-400);
    border-radius: var(--border-radius-50);
    padding: 2px 6px;
    min-width: 18px;
    min-height: 18px;
    justify-content: var(--center);
    text-transform: uppercase;
    z-index: 3;
}

/* Heromain */
.slider-section {
    position: relative;
    width: var(--width-100);
    overflow: hidden;
    margin-bottom: 100px;
    min-height: 550px;
    max-height: 810px;
}

.slider-container {
    position: relative;
    width: 100%;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%;
    position: relative;
    min-height: 810px;
    height: 810px;
    justify-content: var(--center);
}

.slide-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-content {
    position: relative;
    z-index: 2;
    text-align: center;
    display: flex;
    color: var(--third-color);
    padding: 40px 0px;
    max-width: 600px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: var(--center);
    height: 100%;
    right: 20%;
    min-height: 550px;
}

/* Content position classes */
.slide-content.middle {
    justify-content: center;
    align-items: center;
    text-align: center;
    /* aspect-ratio: 16/9; */
}

.slide-content.middle-left {
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.slide-content.middle-right {
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}

.slide-content.middle-top {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.slide-content.middle-bottom {
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.slide-heading {
    text-transform: capitalize;
    font-size: 3.2rem;
    font-weight: 400;
    margin: 0 0 10px 0;
    line-height: 80px;
}

.slide-subheading {
    font-size: 1.8rem;
    margin: 0 0 40px 0;
    line-height: 1.5;
    opacity: 0.9;
    font-weight: 400;
    letter-spacing: 0;
}

.slide-text {
    flex-direction: column;
    justify-content: var(--center);
    gap: 10px;
}

.slide-button {
    justify-content: var(--center);
    width: 200px;
    height: 55px;
    background-color: var(--primary-color);
    color: var(--third-color);
    text-decoration: none;
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-16);
    border-radius: var(--border-radius-30);
    border: none;
    transition: all 0.3s ease;
}

.slide-button:hover {
    opacity: 0.7;
}

.slider-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: var(--justify-between);
    padding: 0 20px;
    z-index: 3;
}

.slider-prev,
.slider-next {
    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: var(--border-radius-50);
    width: 50px;
    height: 50px;
    justify-content: var(--center);
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--primary-color);
    transition: background 0.5s ease;
}

.slider-prev svg,
.slider-next svg {
    fill: var(--primary-color);
}

.slider-prev:hover,
.slider-next:hover {
    background: var(--primary-color);
}

.slider-prev:hover svg,
.slider-next:hover svg {
    fill: var(--third-color);
}

.slider-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 3;
}

.slider-dot {
    background: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: var(--border-radius-50);
    width: 8px;
    height: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slider-dot.active {
    background: var(--primary-color);
}

/* Featured Collection */
.featured-collection,
.new-arrivals,
.footer-container,
.footer-underbar,
.footer-divider {
    max-width: var(--width-1410);
    width: var(--width-100);
}

.featured-collection {
    margin: 0 auto;
    margin-bottom: 100px;
}

.fc-container {
    text-align: center;
    margin-bottom: 40px;
}

.fc-container h2 {
    font-size: 4.5rem;
    font-weight: var(--font-weight-400);
    letter-spacing: 0;
    text-transform: capitalize;
}

.fc-container p {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-400);
    letter-spacing: 0;
    color: var(--secondary-color);
}

.clothing {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.sunglesses {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.bag {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.sneaker {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.featured-collection-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    border-radius: 10px;
    justify-content: center;
}

.featured-collection-img {
    background-color: var(--fourth-color);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.featured-collection-img img {
    object-fit: contain;
    object-position: bottom;
    transition: all 0.3s ease;
}

.featured-collection-img:hover img {
    transform: scale(1.05);
}

.fc-img {
    left: -25px;
}

.fc-btn {
    position: absolute;
    width: 160px;
    height: 50px;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: 0 auto;
    border-radius: var(--border-radius-30);
    border: none;
    background-color: var(--third-color);
    transition: all 0.3s ease;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-500);
}

.fc-btn:hover {
    background-color: var(--primary-color);
    color: var(--third-color);
    cursor: pointer;
}

/* New Arrivals */
.new-arrivals {
    margin: 0 auto;
}

.new-arrivals-item:hover .product-icon-wrapper {
    opacity: 1;
    right: 10px;
}

.new-arrivals-slider,
.product-icon a {
    justify-content: var(--justify-between);
    gap: 30px;
}

.carousel-controls {
    display: none;
}

.product-img-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.product-img-wrapper img {
    transition: all 0.3s ease;
}

.product-img-wrapper:hover img {
    transform: scale(1.05);
}

.product-image {
    border-radius: 10px;
}

.na-mobile-container {
    display: none;
}

.product-icon-wrapper {
    position: absolute;
    top: 10px;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: 0;
    transition: all 0.7s ease;
}

.na-mobile-category {
    display: none;
    font-size: 1.1rem;
    color: var(--secondary-color);
    margin: 4px 0 0 0;
    font-weight: var(--font-weight-500);
    letter-spacing: 0.5px;
}

.product-icon {
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius-50);
    background-color: var(--third-color);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    justify-content: var(--center);
}

.product-rating {
    gap: 1px;
}

.product-price {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-500);
    letter-spacing: 0;
}

.product-compare-price {
    text-decoration: line-through;
    color: var(--secondary-color);
}

.product-info {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.na-mobile-category-default {
    display: none;
}

.product-colors {
    display: flex;
    gap: 5px;
}

.color-swatch-wrapper {
    display: flex;
    padding: 2px;
    border: 1px solid var(--divider-color);
    border-radius: 50%;
}

.color-swatch-wrapper.selected {
    border-color: var(--primary-color);
}

.color-swatch {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-size: cover;
    display: inline-block;
    border: 1px solid var(--divider-color);
}

.badge {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
    border-radius: var(--border-radius-30);
    color: var(--third-color);
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.badge-soldout,
.badge-discount,
.badge-preorder {
    justify-content: var(--center);
    height: 25px;
    font-size: 1.3rem;
    font-weight: 400;
}

.badge-soldout {
    background: var(--souldout-bg-color);
    color: var(--third-color);
    width: 70px;
}

.badge-discount {
    background: var(--badge-bg-color);
    top: 15px;
    width: 50px;
}

.badge-preorder {
    background: var(--preorder-bg-color);
    top: 43px;
    width: 75px;
}

.new-arrivals {
    padding: 0 10px;
}

.new-arrivals-slider-wrapper {
    overflow: hidden;
    width: 100%;
}

.new-arrivals-slider {
    display: flex;
    flex-direction: row;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
    gap: 0;
    flex-wrap: nowrap;
}

.new-arrivals-item {
    min-width: calc(100% / 4 - 10px);
    max-width: calc(100% / 4 - 10px);
    box-sizing: border-box;
    height: auto;
    position: relative;
    flex-shrink: 0;
    padding: 0 5px;
}

.badge-soldout {
    display: flex;
}

.na-mobile-container {
    display: none;
}

.na-content {
    position: absolute;
    display: none;
    align-items: var(--align-center);
    justify-content: var(--center);
    left: 0;
    right: 0;
    bottom: 6px;
    width: 100%;
    height: 32px;
    background-color: var(--primary-color);
    z-index: 100;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.na-content-wrapper {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    animation: na-marquee 6s linear infinite;
    will-change: transform;
}

.na-running-text {
    color: var(--third-color);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

@keyframes na-marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* footer */
.footer-section {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.footer-container {
    margin: 0 auto;
    padding: 0 20px;
}

.footer-row {
    display: flex;
    justify-content: var(--justify-between);
    align-items: var(--align-start);
    gap: 0;
    width: 100%;
}

.footer-col {
    display: flex;
    flex-direction: column;
    justify-content: var(--justify-between);
    min-width: 120px;
}

.footer-col--brand,
.footer-col--newsletter {
    max-width: 450px;
    font-size: var(--font-size-16);
}

.footer-logo {
    width: 92px;
    height: 20px;
    margin-bottom: 30px;
}

.footer-address p,
.footer-address a {
    color: var(--secondary-color);
    font-size: var(--font-size-16);
    margin-bottom: 0 !important;
    line-height: 1.6;
    text-decoration: none;
}

.footer-address a {
    display: block;
}

.footer-social {
    margin: 25px 0 !important;
}

.list-social,
.footer-follow {
    gap: 10px;
}

.list-social__item,
.follow-icon {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid var(--divider-color);
    background: var(--third-color);
    justify-content: var(--center);
}

.list-social__item:hover a {
    margin-left: 0px !important;
}

.list-social__item:hover a svg path {
    fill: rgba(255, 255, 255, 1);
}

.list-social__item:hover {
    background: rgba(17, 17, 17, 1);
    cursor: pointer;
}

.follow-icon {
    background: var(--follow-bg-color);
    border: none;
}

.follow-text p {
    gap: 5px;
    font-size: var(--font-size-15);
    margin: 0;
}

.follow-text svg {
    margin-left: 2px;
}

.footer-category-wrapper {
    margin-bottom: 25px;
}

.footer-col span {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-600);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0;
    color: var(--primary-color);
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li.list-social__item {
    margin: 0 !important;
}

.footer-col ul li {
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.footer-col ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: var(--font-size-16);
    transition: all 0.3s ease;
    line-height: 1.6;
}

.footer-col ul li a:hover {
    color: var(--primary-color);
    margin-left: 8px;
}

.footer-col--newsletter p {
    font-size: var(--font-size-16);
    color: var(--secondary-color);
    margin-bottom: 18px;
    margin-top: 0;
    line-height: 1.6;
}

.footer-newsletter-form {
    gap: 10px;
}

.footer-newsletter-form input[type='email'] {
    flex: 1;
    padding: 12px 18px;
    border-radius: var(--border-radius-30);
    border: 1px solid var(--divider-color);
    font-size: 1.6rem;
    outline: none;
    transition: border 0.2s;
    max-width: 290px;
    min-height: 50px;
    width: 100%;
}

.footer-newsletter-form input::placeholder {
    font-size: 1.4rem;
    color: var(--secondary-color);
}

.footer-newsletter-form input[type='email']:focus {
    border: 1.5px solid var(--primary-color);
}

.footer-newsletter-form button {
    padding: 12px 46px;
    border-radius: var(--border-radius-30);
    border: none;
    background: var(--primary-color);
    color: var(--third-color);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
    max-width: 150px;
    min-height: 50px;
}

.footer-newsletter-form button:hover {
    background: var(--follow-bg-color);
}

.footer-icon-open,
.footer-icon-close {
    display: none;
}

.footer-underbar {
    justify-content: var(--justify-between);
    margin: 0 auto;
    padding: 35px 20px;
    font-size: 1.4rem;
    color: var(--secondary-color);
    background: var(--third-color);
}

.footer-underbar__left,
.footer-underbar__center,
.footer-underbar__right {
    gap: 20px;
}

.footer-underbar__right {
    gap: 5px;
}

.footer-underbar__center {
    flex: 1;
    justify-content: var(--center);
    color: var(--secondary-color);
    font-size: var(--font-size-16);
}

.footer-underbar__right img {
    height: 26px;
    width: 43px;
    background: var(--third-color);
    border-radius: var(--border-radius-4);
    border: 1px solid var(--divider-color);
    padding: 2px 4px;
}

.footer-lang,
.footer-currency {
    color: var(--primary-color);
    font-size: var(--font-size-14);
    gap: 2px;
    cursor: pointer;
}

.footer-lang svg,
.footer-currency svg {
    margin-left: 4px;
}

.footer-select-wrap {
    justify-content: var(--justify-between);
    gap: 5px;
}

.footer-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: var(--third-color);
    font-size: var(--font-size-16);
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    outline: none;
    transition: border 0.2s;
    font-family: inherit;
}

.footer-divider {
    height: 1px;
    background: var(--divider-color);
    margin: 80px auto 0px auto;
}

.footer-mobile__bottom {
    display: none;
}

/* chat and scroll up */
.scroll-up-wrapper,
.chat-wrapper {
    display: none;
}

.scroll-up-wrapper svg {
    position: relative;
    z-index: 1;
}